* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1;
    font-weight: normal;
}
.dody {
    background: rgb(154,152,190);
background: linear-gradient(135deg, rgba(154,152,190,0.5331174706210609) 0%, rgba(90,113,110,0.6535656498927696) 53%, rgba(0,212,255,0.5247141092765231) 100%);
    margin: 0 auto;
    font-family: 'Poor Story', cursive, sans-serif;
    background-position-x: center;
}
.icon-cpmsd {
    text-decoration: none;
    color: #000;
    font-size: 2em;
}
.section {
    width: 1400px;
    margin: 0 auto;
    background: #f8f8f8;
    box-shadow: 10px 10px 5px #a4a4a4;
}
.header {
    width: 1400px;
    margin: 0 auto;
    background: #f8f8f8;
    box-shadow: 10px 10px 5px #a4a4a4;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 10px;
}
.color-alll {
    background: #eaeaea;
}
.section-one {
    display: flex;
    margin: 30px;
    padding: 10px;
}
.nav-color {
    display: flex;
    justify-content: space-between;
}
.buttton-color {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.menubar {
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 10px;
}
.menubarall {
    border: 2px solid transparent;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    box-shadow: 10px 10px 5px #a4a4a4;
    line-height: 1em;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
	transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
	-o-transition: width 0.5s, height 0.5s, transform 0.5s;
	transition: width 0.5s, height 0.5s, transform 0.5s;
	transition: width 0.5s, height 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.menubarall:hover {
      color: red;
      background-size: contain;
      background-position-x: left;
      border: 2px solid black;
      -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 15px 15px rgba(0,0,0,0.22);
      transform: translateX(25px);
      -webkit-transform: translateX(25px);
      -moz-transform: translateX(25px);
      -ms-transform: translateX(25px);
      -o-transform: translateX(25px);
}
h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.text-ppl-h {
    font-size: 1.9em;
    border-bottom: 3px solid;
}
.text-ppl_info p {

}
.anonimus {
    border-top: 2px solid black;
    text-align: center;
    padding: 10px;
}
.faq {
    background: url(https://envaki.github.io/img/faqicon.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.center {
    text-align: center;
}
.home {
    background: url(./img/homeicon.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.info {
    background: url(https://envaki.github.io/img/info.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.secret {
    background: url(./img/ecret.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
/* All class INFO Start */
.info-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.images {
    height: 90%;
    width: 60%;
    display: flex;
}
.images img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid;
}
.random {
    padding: 20px;
    font-size: 0.7em;
}
.button-random {
    width: 40%;
    display: flex;
}
/* All class INFO End */
/* All class MEM Start */

.mem {
   
}
.mem-osnova {
    font-size: 0.4em;
}
.mem-img {
    
}
.mem-img img {
    height: 373px;
    border: 2px solid black;
    border-right: none;
}
.mem-text {

}
.mem-text-p {
 margin: 0;
 padding: 0;
}
.content-mem-one {
    display: flex;
    margin: 20px;
}
.mem-ppl-info {
 border: 2px solid black;
}
.text-ppl_info {
    
}
.text-ppl_info p{
    padding: 20px;
    font-size: 25px;
}

/* All class MEM END */
#canvas {
    height: 97%;
    width: 100%;
    padding: 10px;
}
/* Мишень Игра */
#field {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 800px;
    background: yellow;
}
#lay {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 50px;
    width: 50px;
    background: orange;
}
#control {
    position: absolute;
    top: 0px;
    left: 800px;
    height: 500xp;
    width: 200px;
    background: green;
}
/* Мишень Игра Конец */


.coment-one {
    display: flex;
    height: 100%;
    width: 100%;
}
.img-content-one {
    height: 100%;
    width: 100%;
}
.text-content-two {
    
}
.img-content {
    height: 240px;
    width: 340px;
}
.otzuv {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    border: 2px solid black;
}
.otzuv-one {
    
}
.text-profi-it span {
    font-size: 30px;
} 
.text-profi-p {
    font-size: 0.4em;
}
.otzuv-two {
    border: 2px solid;
}
.otzuv-two h3 {
    font-size: 0.5em;
    display: flex;
}
.otzuv img {
    width: 75px;
    height: 75px;
    border: 2px solid;
    border-right: none;
}
.otzuv p {
    font-size: 0.3em;
    padding: 10px;
}

.idea {
    background: url(https://envaki.github.io/img/ideabos.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.content {
    width: 100%;
    margin-left: 10px;
    position: relative;
}
.contentbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    background: #eaeaea;
    border: 2px solid black;
    box-sizing: border-box;
}
.contentbar-active {
    display: block;
    color: #000000;
    font-size: 50px;
}
.line {
    height: 4px;
    width: 100%;
    background: #000;
}
.icon-it {
 
}
.title-color {
    display: flex;
    align-items: center;
    display: none;
}
.menubarall.active {
    color: red;
    background-size: contain;
    background-position-x: right;
    border: 2px solid black;
    background: #eaeaea;
    transform: translateX(25px);
}

.secret-content-all {
    display: flex;
    justify-content: space-between;
}

.secret-section-one {
 display: grid;
}
.secret-section-two {

}
.content-secret_one {
    background: url(https://envaki.github.io/img/fac.png) no-repeat;
    background-size: contain;
    background-position-x: right;
    background-color: #000;
}
.content-best {
    width: 100%;
    height: 100%;
}
.content-best-one {
    height: 100%;
}
.content-best-two {
    width: 50%;
    height: 100%;
}
.img-content-one {
    height: 100%;
    width: 100%;
}
.content-dest-zagolovok {
    margin: 0 auto;
}
.content-best_one {
display: flex;
height: 100%;
}
.content-vidguk h3 {
    text-align: center;
    margin: 0;
}
.prof_img {
    height: 100%;
    width: 25%;
}
.prof_img img {
    border: 2px solid black;
}
.vidguk-comentary {
    height: 100%;
}
.content-vidguk_kom {
    height: 100%;
}
.prof-vidguk {
    display: flex;
    align-items: center;
    height: 23%;
    border: 2px solid black;
}
.prof_vidguk {
    width: 70%;
    margin-left: 10px;
}
.color-btn-two {
    background: #000;
}
.vidguk-comentary p {
    margin: 0;
    line-height: 1;
}
.prof_zag {
    font-size: 20px;
}
.prof-zagolovok {
    margin: 0;
}

/* Footer Start */ 
.footer {
    width: 1400px;
    margin: 0 auto;
    background: #f8f8f8;
    box-shadow: 10px 10px 5px #a4a4a4;
}
.footer-one {
    margin: 30px;
}
.social {
    font-size: 30px;
    text-align: center;
}
.social_footer {
    display: flex;
}
.social-footer {
 padding: 20px;
}
.social_footer li {
    list-style: none;
}
.social_footer a{
    text-decoration: none;
}
.fa {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-facebook:hover {
    width: 50px;
    height: 50px;
    color: white;
    box-shadow: 5px 5px 5px #a4a4a4;
    background-color: #166fe5;
}
.fa-paper-plane:hover {
    width: 50px;
    height: 50px;
    color: white;
    box-shadow: 5px 5px 5px #a4a4a4;
    background-color: #166fe5;
}
.fa-youtube:hover {
    width: 50px;
    height: 50px;
    color: white;
    box-shadow: 5px 5px 5px #a4a4a4;
    background-color: red;
}
.fa-github:hover {
    width: 50px;
    height: 50px;
    color: black;
    box-shadow: 5px 5px 5px #a4a4a4;
    background-color: white;
}
.fa-instagram:hover {
    color: #000;
    box-shadow: 5px 5px 5px #a4a4a4;
    background: rgb(237,231,21);
    background: linear-gradient(90deg, rgba(237,231,21,0.9616888991924895) 0%, rgba(236,33,27,0.5387197115174195) 43%, rgba(149,49,57,1) 79%);
}
/* Footer END */ 