.dody {
    background: #eaeaea;
    background-size: cover;
    margin: 0 auto;
    font-family: 'Poor Story', cursive, sans-serif;
    background-position-x: center;
}
.section {
    width: 1400px;
    margin: 0 auto;
    background: #f8f8f8;
    box-shadow: 10px 10px 5px #a4a4a4;
}
.header {
    width: 1400px;
    margin: 0 auto;
    background: #f8f8f8;
    box-shadow: 10px 10px 5px #a4a4a4;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 10px;
}
.color-alll {
    background: #eaeaea;
}
.section-one {
    display: flex;
    margin: 30px;
    padding: 10px;
}
.nav-color {
    display: flex;
    justify-content: space-between;
}
.buttton-color {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.menubar {
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 10px;
}
.menubarall {
    border: 2px solid transparent;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    box-shadow: 10px 10px 5px #a4a4a4;
}
.menubarall:hover {
    color: red;
    background-size: contain;
    background-position-x: left;
    border: 2px solid black;
}
h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.faq {
    background: url(https://envaki.github.io/img/faqicon.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.home {
    background: url(./img/homeicon.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.info {
    background: url(https://envaki.github.io/img/info.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.secret {
    background: url(./img/ecret.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.mem {
    background: url(https://envaki.github.io/img/mem.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.idea {
    background: url(https://envaki.github.io/img/ideabos.png) no-repeat;
    background-size: contain;
    background-position-x: right;
}
.content {
    width: 100%;
    border: 2px solid;
    margin-left: 10px;
    position: relative;
}
.contentbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}
.contentbar-active {
    display: block;
    color: #000000;
    font-size: 50px;
}
.line {
    height: 4px;
    width: 100%;
    background: #000;
}
.icon-it {
 
}
.title-color {
    display: flex;
    align-items: center;
}
.menubarall.active {
    color: red;
    background-size: contain;
    background-position-x: right;
    border: 2px solid black;
}

.secret-content-all {
    display: flex;
    justify-content: space-between;
}

.secret-section-one {
 display: grid;
}
.secret-section-two {

}
.content-secret_one {
    background: url(https://envaki.github.io/img/fac.png) no-repeat;
    background-size: contain;
    background-position-x: right;
    background-color: #000;
}
.content-best {
    width: 100%;
    height: 100%;
}
.content-best-one {
    height: 100%;
}
.content-best-two {
    width: 50%;
    height: 100%;
}
.content-best img {
    height: 100%;
    width: 100%;
}
.content-dest-zagolovok {
    margin: 0 auto;
}
.content-best_one {
display: flex;
height: 100%;
}
.content-vidguk h3 {
    text-align: center;
    margin: 0;
}
.prof_img {
    height: 100%;
    width: 25%;
}
.prof_img img {
    border: 2px solid black;
}
.vidguk-comentary {
    height: 100%;
}
.content-vidguk_kom {
    height: 100%;
}
.prof-vidguk {
    display: flex;
    align-items: center;
    height: 23%;
    border: 2px solid black;
}
.prof_vidguk {
    width: 70%;
    margin-left: 10px;
}
.color-btn-two {
    background: #000;
}
.vidguk-comentary p {
    margin: 0;
    line-height: 1;
}
.prof_zag {
    font-size: 20px;
}
.prof-zagolovok {
    margin: 0;
}
.footer {
    width: 1400px;
    margin: 0 auto;
    background: #f8f8f8;
    box-shadow: 10px 10px 5px #a4a4a4;
}
.footer-one {
    
}
.social {
    font-size: 30px;
    text-align: center;
}
