.close {
    background-color: rgba(196, 145, 76, 0.58);
    border: 2px solid black;
    border-radius: 5px;
    width: 155px;
    padding: 15px;
    text-align: center;
}
.close:hover {
    background: red;
}
.body {
  background-size: cover;
width: 100vh;
height: 90vh;
}


.open{
    color:rgb(255, 255, 255);
    border: 4px solid rgb(176, 13, 13);
    display: table;
    padding: 20px;
    margin: 10px;
}
.openn {
    color:black;
    border: 4px solid black;
    display: table;
    padding: 20px;
    margin: 10px;
    display: block;
}
.bloc {

}
