@media screen and (max-width: 1366px) {
    .header, .section, .footer {
        width: 90% !important;
    }
  }

@media screen and (max-width: 1280px) {
    .dody {
        padding-top: 10px !important;
    }
    .section-one {
        margin: 10px !important;
    }
    .poslugi-img {
        padding: 0 !important;
        width: 30% !important;
    }
    .poslugi-img img {
        height: 100% !important;
        width: 100% !important;
    }
    .poslugi-text {
        width: 30% !important;
    }
    .poslugi-text-p p {
        font-size: 0.3em !important;
    }
    .poslugi-text-p h3 {
        font-size: 0.5em !important;
    }
    .social-footer {
        padding: 10px !important;
    }
    .social {
        font-size: 20px !important;
    }
    .fa {
        width: 35px !important;
        height: 35px !important;
    }
    .heart, .heart::before, .heart::after {
        height: 25px !important;
        width: 25px !important;
    }
    .heart::before {
        top: -15px !important;
    }
    .heart::after {
        left: 15px !important;
    }
  }